@model ModelCL.PELICULA

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comprar View</h2>
<h4>@ViewBag.Message</h4>

<div>
    <h4>PELICULA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_estreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_estreno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Seleccionar Complejos", "Complejos", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
